body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

/* ヘッダー、トップ */
header {
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  position: fixed;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.header-logo img {
  height: 50px;
  width: 50px;
}
.header-list ul {
  display: flex;
}
.header-list li {
  font-size: 18px;
  list-style: none;
  margin-left: 20px;
  margin-right: 35px;
  line-height: 70px;
}
.main-visual {
  position: relative;
  text-align: center;
  color: white;
}
.main-visual h1 {
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Oswald", sans-serif;
}

/* 共通 */
.container {
  height: 95vh;
  padding: 80px 50px 0 50px;
  text-align: center;
}
.section-title {
  padding-top: 130px;
  font-size: 3rem;
}
/* 自己紹介 */
.first {
  background-color: rgba(239, 243, 239, 0.959);
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.profile img {
  border: 5px solid black;
  border-radius: 50%;
}
.profile ul {
  list-style: none;
  padding: 0;
}
.profile li {
  line-height: 60px;
  text-align: left;
}
.profile .message {
  line-height: 1.8;
  margin-bottom: 30px;
}

/* サイト集 */
/*.second {
  background-color: rgb(251, 180, 47);
}
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.work {
  width: 200px;
  text-align: center;
  padding-top: 20px;
}
.work img {
  border: 2px solid black;
  width: 100%;
}*/

.second {
  background-color: rgb(251, 180, 47);
}
.work {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 40px;
}
.work img {
  border: 2px solid black;
}
.work p {
  font-size: 16px;
  padding: 0 30px;
}

/* スキル */
.third {
  background-color: #1d809f;
  height: 150vh;
  color: white;
}
.skill {
  float: left;
  width: 33%;
  margin-bottom: 15px;
  padding-top: 80px;
}
.skill .fab {
  height: 180px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  font-size: 150px;
  color: #1d809f;
  padding-top: 20px;
}
.skill h3 .fas {
  color: gold;
}
.skill h3 {
  margin: 10px 0 0 0;
}
.skill p {
  padding: 0 30px;
  font-size: 16px;
  margin: 0 0 15px 0;
}
/* 連絡先 */
.forth {
  background-color: aliceblue;
  height: 25vh;
}
.forth .section-title {
  padding-top: 0px;
}
.fa-twitter {
  font-size: 50px;
}

@media screen and (max-width: 907px) {
  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 907px) {
  .main-visual h1 {
    font-size: 4rem;
  }
}
